/*-------------------------*/
/*all elements on page include header*/
.md-main__inner.md-grid {
    max-width: initial;
}
/*all elements below header*/
/* .md-grid {
    max-width: initial;
} */

/*-------------------------*/
/* cor primária custom (theme.palette.primary: custom) */
[data-md-color-primary="custom"] {
  --md-primary-fg-color:        #0CA646;
  --md-primary-fg-color--light: #3DBF6B;
  --md-primary-fg-color--dark:  #087A34;
}

/*-------------------------*/
/* md extension admonition*/
.md-typeset .admonition,
.md-typeset details {
  border-width: 0;
  border-left-width: 4px;
}